<div class = "display_form">

<% if @article.errors.any? %>
        <% @article.errors.full_messages.each do |msg| %>
                <ul> <li> <%= msg %> </li> </ul>
        <% end %>
    <%end%>
 

    <%= form_with(model: @article) do |f| %>


    <p>
        <%= f.label :title %> <br/>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :content %> <br/>
        <%= f.text_area :content %>
    </p>
    <p>
        
        <%= f.number_field :user_id, id: :friend_user_id, value: current_user.id %>
    </p>
    
    <p> 
        <%= f.submit "Submit", class: "btn btn-primary btn-sm px-2 mx-2 my-2" %>
    
    </p>

<%end%>
</div>
